@tailwind base;
@tailwind components;

.btn-primary {
  @apply bg-teal-600 text-white font-bold py-2 px-4 rounded;
}

input {
  @apply outline-none;
}

.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hero {
  @apply py-20;
}

.title {
  @apply text-5xl text-center;
  color: #333;
  line-height: 1.15;
}

@tailwind utilities;
